<!--
	you can substitue the span of reauth email for a input with the email and
	include the remember me checkbox
	-->
	<div id="login" class="container">
		<div class="card card-container">
		<h1>{{ var1 }}</h1>
			<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->

			<!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
			<img id="profile-img" class="profile-img-card" src="http://66.media.tumblr.com/458b36d1fa7f34b3af7957dd978698ef/tumblr_o7r5uus9A61st5lhmo1_1280.jpg" />
			<p id="profile-name" class="profile-name-card"></p>
			<form class="form-signin" ng-submit="submit()">
				<span id="reauth-email" class="reauth-email"></span>
				<input type="email" ng-model="credentials.email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<input type="password" ng-model="credentials.password" id="inputPassword" class="form-control" placeholder="Password" required>
				<div id="remember" class="checkbox">
					<label>
						<input type="checkbox" value="remember-me" ng-model="remember"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
			</form><!-- /form -->
			<button ng-click="register()" class="btn btn-danger btn-md">Register</button>
			<!-- <button ng-click="token()" class="btn btn-success btn-md">Send token</button> -->
			<button ng-click="logout()" class="btn btn-primary btn-md">Logout</button>
			<br>
			<a href="#" class="forgot-password">
				Forgot the password?
			</a><br>

			<!-- <a class="btn btn-primary btn-md" href="/#/main">PROVEEDOR</a> -->
			<!-- <a class="btn btn-primary btn-md" href="/#/main">CLIENTE</a> -->
		</div><!-- /card-container -->
	</div><!-- /container -->
