#productsAdmin {
	color: $normalFontColor;
}

#productsAdmin dgw-products .well {
	max-height: 300px;
	overflow: scroll;
}

#productsAdmin dgw-products .product {
	margin-top: -5px;
}

#productsAdmin dgw-products .product input {
	cursor: pointer;
	background-color: white;
}

#productsAdmin dgw-products .product .outOfStock {
	background-color: #E0E0E0;
	text-decoration: line-through;
	}

#productsAdmin dgw-products .product .productSelected {
	border: $selectedItem;
	}

#productsAdmin dgw-products .product:hover .input-group {
	border: solid 1px #66afe9;
}

#productsAdmin dgw-products i {
	margin-top: 10px;
	margin-right: 10px;
	color: #D8D8D8;
}

#productsAdmin dgw-products .product:hover i {
	color: #333;
}

#productsAdmin dgw-products .product i.icon-disabled {
	cursor: not-allowed;
	pointer-events: none;
	color: #D8D8D8;
	}

#productsAdmin dgw-products .tools {
	padding: 0;
	text-align: center;
}

#productsAdmin .modal-footer div {
	text-align: center;
}

#productsAdmin #middleControls {
	margin-bottom: 8px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#productsAdmin .divSelectAllButtons {
	button:first-of-type {
		margin-right: 5px;
	}
	button {
	    background: #666;
		color: white;
		&:hover {
			background: #333;
		}
	}
}



// en tamaño pequeño como el 320px, quitar el margin-top: 10px; a las tools
