#productsAdmin {
	color: #333;
}

#productsAdmin .productsDGV {
	max-height: 400px;
	overflow: scroll;
}
#productsAdmin .productsDGV .product input {
	cursor: pointer;
	background-color: white;
}

#productsAdmin .productsDGV .product .outOfStock,
#productsAdmin #modifyProductModal .outOfStock {
	background-color: #6B6B6B;
	color: black;
	}

#productsAdmin .productsDGV .product:hover .input-group {
	border: solid 1px #66afe9;
}

#productsAdmin .productsDGV .product:hover i {
	color: #333;
}
#productsAdmin .productsDGV i {
	margin-top: 10px;
	color: #D8D8D8;
	margin-right: 10px;
}

#productsAdmin .productsDGV .tools {
	padding: 0;
	text-align: center;
}


// en tamaño pequeño como el 320px, quitar el margin-top: 10px; a las tools