#divHeader {
	background-color: $backgroundColorHeader;
	width:100%;
 	color:white;
	box-shadow: 2px 2px 15px #4444FF;
	padding:5px 55px;
	opacity: .92;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 10;
	margin-bottom: 150px;
	.logo{
		margin-right: 35px;
	}
	.logo p {
		text-shadow: 1px 1px 3px white;
		font-family:monospace, "Courier New", Courier;
		font-size: 1.8vw;
		padding: 0;
		margin: 0;
	}
	.logo span {
		font-family: $logo-font;
		font-size: 3.1vw;
		color: black;
	}
	.login {
		font-family: monospace;
		font-size: 1.7vw;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		button {
			margin-left: 15px;
			font-size: 1.3vw;
		}
	}
}

@media screen and (max-width: 550px) {
	#divHeader {
		padding:5px 15px;
		.login button {
			// width: 30px;
		}
	}
}
