* {
	transition: all .7s; }

body {
	background-color: $backgroundColor;
	color: $normalFontColor;
}

#mainIndex {
	height: 100%;
	&.backGroundColor {
		background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
	}
	.marginTop {
		margin-top: 70px;
	}
}
