* {
	transition: all .7s; }

body {
	background-color: $backgroundColor;
	color: white;
}

#mainIndex {
	background-color: #3c7a64;
	&.marginTop {
		background-color: $backgroundColor;
	}
}
#mainIndex .marginTop {
	margin-top: 80px;
}

