/********************** PRODUCTS */
#products-view {
		button.quantity {
			font-size: 18px;
			width: 60px;
			text-align: center;
		}
		.product {
			background-color: #CCC;
			color: $normalFontColor;
			font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
			font-size: 18px;
			margin-bottom: 10px;
			padding: 0 40px;
			border-radius: 5px;
			height: 65px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items:center;
			cursor: pointer;
			outline: none;
			transition: transform .2s ease-in-out, background-color .5s ease-in-out;
			&:hover {
				border: solid 1px #666;
				transform: scale(0.99);
			}
			&.productOrdered {
				// background-color: #6C0; /* 6F0 3F0 */
				background-color: #129a12;
				color: white;
			}
			&.outOfStock {
				background-color: #666;
				text-decoration: line-through;
				pointer-events: none;
			}
		}

	/********************** CHANGE QUANTITY MODAL */
		#quantityModal .modal-header,
		#quantityModal .modal-footer {
			text-align: center;
			color: #333;
		}

		#quantityModal .modal-body {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: center;
			text-align: center;
		}

		#quantityModal /* buttons and span quantity */
		.modal-body .changeQantity {
			width: 65px;
			height: 60px;
			font-size: 30px;
			border-radius: 10px;
			border-style: none;
		}
		#quantityModal /* buttons */
		.modal-body button.changeQantity {
			color: white;
		}
		#quantityModal /* buttons */
		.modal-body span.changeQantity {
			color: #333;
		}
		#quantityModal /* buttons */
		.modal-body span.changeQantity {
			line-height: 60px;
		}
	/*******************************************************/
	@media screen and (max-width: 450px) {
		.product {
			font-size: 16px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}