/********************** CHANGE PRODUCT QUANTITY MODAL */
	#main #myModal .modal-header, 
	#main #myModal .modal-footer {
		text-align: center;
		color: #333;
	}

	#main #myModal .modal-body {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}

	#main #myModal /* buttons and span quantity */
	.modal-body .changeQantity {
		width: 65px;
		height: 60px;
		font-size: 30px;
		border-radius: 10px;
		border-style: none;
	}
	#main #myModal /* buttons */
	.modal-body button.changeQantity {
		color: white;
	}
	#main #myModal /* buttons */
	.modal-body span.changeQantity {
		color: #333;
	}
	#main #myModal /* buttons */
	.modal-body span.changeQantity {
		line-height: 60px;
	}
/*******************************************************/
