/********************** TOP CONTROLS */
	#main .controls {
		margin-bottom: 15px;
		.userInfo {
			height: $controlsHeight;
		}
		.userInfo .logo {
		 	height: 100%;
		 	text-align: center;
		 	img {
			 	max-width: 100%;
			 	max-height: 100%;
		 	}
		}
		.clientsSelect {
			height: $controlsHeight;
			line-height: $controlsHeight / 2.5;
			text-align: center;
			label {
				font-family: $titlesFont;
				font-size: $titlesFontSize;
				color: $normalFontColor;
			}
			select {
				border-radius    : $selectBorderRadius;
				color            : $normalFontColor;
				background-color : $selectsBackGround;
				font-size        : $selectsFontSize;
			}
		}
		.demandButton {
			height: $controlsHeight;
			button {
				// height: $controlsHeight;
				height: 100%;
				width: 90%;
				font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
				font-size: $fontSizeDemandButton;
			&:hover {
		 			opacity: .9;
					font-size: $fontSizeDemandButton + .2;
					// color: saturate( #FE9E7D, 30% );
					color: #DDD8EC;
				}
				&.btn-default:hover{
					color: #4E46EE;
				}
			}
		}
	}

// DEMAND BUTTON
@media screen and (max-width: 480px) { 
	#main .controls .demandButton button { 
		font-size: 14px;
		height: 100px;
		width: 100%;
		&:hover {
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 420px) { 
	#main .controls .demandButton button { 
		font-size: 12px;
		height: 80px;
	 }
}
@media screen and (max-width: 385px) { 
	#main .controls .demandButton button { 
		font-size: 11px;
		&:hover {
			font-size: 12px;
		}
	 }
}
@media screen and (max-width: 340px) { #main .controls .demandButton button { font-size: 10px; } }
@media screen and (max-width: 500px) { #main .categories { font-size: 15px; } }

