@media screen and (max-width: 1060px) {
	header {
		flex-flow: column nowrap;
		padding: 15px;
	}
}
@media screen and (max-width: 830px) {
	header {
		nav {
			flex-flow: column nowrap;
		}
		.logo {
			font-size: $tamanoLetraHeader - 3;
			margin-left: 0;
			margin-bottom: 15px;			
		}
		a {
			font-size: $tamanoLetraHeader - 9;
			padding: 5px;
		}
	}
	.container {
		margin-top: 200px;
	}
	h1 {
		font-size: 22px;
	}		
}

