#navbar {
	opacity: .95;
	z-index: 100;
}
#navbar .logo {
	margin-left: 5px !important;
	font-family: $sipediFont;
	font-size: $sipediFontSize;
}

#navbar img {
	max-width:100px;
	margin-top: -7px;
	width: 35px;
	height: 35px;
}

#navbar .rightText {
	font-size: 17px;
	margin-right: 10px;
	padding-left: 0;
}
