#navbar {
	opacity: .97;
	z-index: 100;
	.logo {
		margin-left: 5px !important;
		font-family: $sipediFont;
		font-size: $sipediFontSize;
	}
	img {
		max-width:100px;
		margin-top: -7px;
		width: 35px;
		height: 35px;
	}
	.rightText {
		font-size: 17px;
		margin-right: 10px;
		padding-left: 0;
	}
	.navbar-header {
		line-height: 48px;
		width: 250px;

	}
	.demandLabel {
		border-radius: 10px;
		margin-left: 12px;
		cursor: default;
		font-size: 17px;
		font-weight: bold;
		outline: none;
		pointer-events: none;
	}
}

@media screen and (max-width: 767px) { #navbar .navbar-header { width: auto; } }
