#usersAdmin {
	color: $normalFontColor;
	.logo {
		height: $logoHeight;
		text-align: center;
		line-height: $logoHeight / 1.15;
		img {
			max-width: 100%;
			max-height: 100%;
		}
		img.mainImg {
			opacity: .8;
			&:hover {
				opacity: 1;
				cursor: pointer;
				// border: .5px dotted grey;
				box-shadow: 10px 10px 5px grey;
			}
		}
	}
}

#usersAdmin .clientsSelect {
	height: $controlsHeight;
	line-height: $controlsHeight / 2.5;
	text-align: center;
	label {
		font-size   : $titlesFontSize;
		font-family : $titlesFont;
		color       : $normalFontColor;
	}
	select {
		border-radius    : $selectBorderRadius;
		font-family      : $selectsFont;
		color            : $normalFontColor;
		background-color : $selectsBackGround;
		font-size        : $selectsFontSize;
	}
}

#usersAdmin .logoAdmin {
	text-align: center;
}
#usersAdmin .logoAdminButtons {
	margin-top: 15px;
}

#usersAdmin .footerButtons button {
	margin-bottom: 9px;
}



// hacer los media para "Mis clientes" -> $titlesFontSize -10;
// y select  -> $selectsFontSize -10;
