// INIT
// $backgroundColor : #333;
$backgroundColor : white;
$logo-font: 'Days One', sans-serif;

// LOGIN

// HEADER
$backgroundColorHeader: #333;

// MAIN CONTROLS
$controlsHeight : 105px;
$fontSizeDemandButton : 16px;
