// GENERAL
$backgroundColor : #fcfcfc;
$normalFontColor : #333;

//SIPEDI
$sipediFont     : 'Days One', sans-serif;
$sipediFontSize : 20px;

//LOGO
// $logoWidth  : 105px;
$logoHeight : 110px;

// TITLES
$titlesFont: monospace;
$titlesFontSize: 18px;

// SELECTS
$selectsFontSize: 16px;
$selectsFont: monospace;
$selectsBackGround: #E8E8E8;
$selectBorderRadius: 10px;

// LISTBOX
$listBoxFont: monospace;

// HEADER
$backgroundColorHeader: #333;

// MAIN CONTROLS
$controlsHeight : 105px;
$fontSizeDemandButton : 16px;

//PRODUCTS
$selectedItem : solid 2.5px #4fa84f;
