<div id="passWord" ng-cloak>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Cambiar contraseña</h3>
		</div>

        <!-- BODY -->
		<div class="panel-body">

			<!-- ALERT MESSAGES -->
			<alert-message code="codeAlert"></alert-message>

    		<!-- FORM -->
			<div class="row">
				<div class="well col-xs-offset-1 col-xs-10 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
					<form novalidate name="passwordForm" id="passwordForm">
						<!-- CURRENT PASSWORD -->
						<div class="form-group"	ng-class="{'has-error':!passwordForm.currentPass.$pristine && !passwordData.current.length}">
							<label for="currentPass">Actual</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input ng-model="passwordData.current" class="form-control input-md" type="password" autocomplete="off"
										maxlength="25" required name="currentPass" id="currentPass" placeholder="Contraseña actual" autofocus
										ng-keyup="$event.keyCode == 13 && passwordData.current.length && passwordData.new.length && passwordData.repeat.length && changePass()" />
                                <span ng-if="!passwordForm.currentPass.$pristine && !passwordData.current.length" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
                        <!-- NEW PASSWORD -->
						<div class="form-group"	ng-class="{'has-error':!passwordForm.newPass.$pristine && !passwordData.new.length || (passwordData.new !== passwordData.repeat)}">
							<label for="newPass">Nueva</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input ng-model="passwordData.new" class="form-control input-md" type="password" autocomplete="off"
										maxlength="25" required name="newPass" id="newPass" placeholder="Contraseña nueva" autofocus
										ng-keyup="$event.keyCode == 13 && passwordData.current.length && passwordData.new.length && passwordData.repeat.length && changePass()" />
                                <span ng-if="!passwordForm.newPass.$pristine && !passwordData.new.length" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
                        <!-- REPEAT NEW PASSWORD -->
						<div class="form-group"	ng-class="{'has-error':!passwordForm.repeatPass.$pristine && !passwordData.repeat.length || (passwordData.new !== passwordData.repeat)}">
							<label for="repeatPass">Confirmar contraseña</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input ng-model="passwordData.repeat" class="form-control input-md" type="password" autocomplete="off"
										maxlength="25" required name="repeatPass" id="repeatPass" placeholder="Repetir contraseña nueva" autofocus
										ng-keyup="$event.keyCode == 13 && passwordData.current.length && passwordData.new.length && passwordData.repeat.length && changePass()" />
                                <span ng-if="!passwordForm.repeatPass.$pristine && !passwordData.repeat.length" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
					</form>

                        <!-- MASK PASS BUTTON -->
                        <div class="divMaskButton">
                            <button ng-class="{'btn-success' : showPass}"
                                    class="btn btn-sm" ng-click="passwordMaskToggle()"
                                    title="{{showPass ? 'Ocultar' : 'Mostrar'}} contraseña">
                                    <i ng-class="{'glyphicon-eye-open' : showPass, 'glyphicon-eye-close' : !showPass}"
                                       class="glyphicon"></i>
                            </button>
                        </div>
				</div>
			</div>
		</div>

        <!-- FOOTER -->
		<div class="modal-footer">
			<div class="row">
				<div class="col-sm-offset-3 col-sm-9">
					<button ng-class="{'btn-primary': (passwordData.current.length && passwordData.new.length && passwordData.repeat.length),
                                        'btn-default': (!passwordData.current.length || !passwordData.new.length || !passwordData.repeat.length)}"
            							ng-click="changePass()" class="btn btn-md " title="Cambiar contraseña"
                                        ng-disabled="!passwordData.current.length || !passwordData.new.length || !passwordData.repeat.length"
            							id="saveButton" data-loading-text="Cambiando..." autocomplete="off">
			            				<span class="glyphicon glyphicon-ok"></span> Aceptar</button>
				</div>
			</div>
		</div>
	</div> <!-- @panel primary -->

</div>
