	#main {
		margin-top: 60px;
	}
	#main .containerX {
		width: 60%;
		margin: auto;
	}
	#main .producto {
		background-color: #209908;
		color: white;
		font-size: 18px;
		margin-bottom: 15px;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 3px;
		height: 70px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items:center;
	}
	#main li a {
		/*color: black;*/
	}
	#main .tab-content {
		margin-top: 20px;
	}

	#main #selectClients {
		color:black;
		font-size: 22px;
	}
	#main form {
		width: 60%;
		margin: auto;

	}