	#main {
		margin-top: 60px;
	}
	#main .controls {
		/*border: solid 1px orange;*/
	}
	#main .containerX {
		width: 80%;
		margin: auto;
	}
	#main #clientsSelect {
		width: 60%;
		margin: 15px auto;

	}
	#main #clientsSelect select {
		width: 100%;
		height: 30px;
		color: black;
		font-size: 24px;
		border-radius: 5px;
	}
	
	#main .product {
		background-color: #CCC;
		color: #333;
		font-size: 18px;
		margin-bottom: 10px;
		padding-left: 40px;
		padding-right: 40px;
		border-radius: 3px;
		height: 65px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items:center;
		cursor: pointer;
	}
	#main .product:hover {
		/*font-size: 19px;*/
		border: solid 1px white;
		margin-left: 2px;
		margin-right: 2px;
		/*color: wheat;*/
	}

	#main .product.productOrdered {
	background-color: #6C0; /* 6F0 3F0 */
	}
	
	#main .product.outOfStock {
		background-color: #666;
		text-decoration: line-through;
		pointer-events: none;
	}

	#main .tab-content {
		margin-top: 15px;
	}

	#main #selectClients {
		color: #333;
		font-size: 22px;
	}
	#main form {
		text-align: center;
		/*width: 80%;*/
		/*margin: auto;*/

	}

/********************** CHANGE PRODUCT QUANTITY MODAL */
	#main #myModal .modal-header, 
	#main #myModal .modal-footer {
		text-align: center;
		color: #333;
	}

	#main #myModal .modal-body {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}

	#main #myModal /* buttons and span quantity */
	.modal-body .changeQantity {
		width: 65px;
		height: 60px;
		font-size: 30px;
		border-radius: 10px;
		border-style: none;
	}
	#main #myModal /* buttons */
	.modal-body button.changeQantity {
		color: white;
	}
	#main #myModal /* buttons */
	.modal-body span.changeQantity {
		color: #333;
	}
	#main #myModal /* buttons */
	.modal-body span.changeQantity {
		line-height: 60px;
	}
/*******************************************************/
