	#main #clientsSelect {
		width: 60%;
		margin: 15px auto;
		height: 100%;
	}
	#main #selectClients {
		width: 100%;
		border-radius: 5px;
		background-color: wheat;
		font-size: 46px;
		color: #666;
		height: 70px;
	}

#main #selectClients option { color: blue; }
#main #selectClients option:checked { color: green; }

	#main #clientsSelect option {
		/*color: red;*/
		/*font-size: 42px;*/
	}


	#main #selectClients {
		/*color: #333;*/
		/*font-size: 22px;*/
	}
	#main form {
		/*text-align: center;*/
		/*width: 80%;*/
		/*margin: auto;*/

	}
