<div id="sidebar">
	<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation"
			ng-class="{'open' : sibarOpen}">
		<div class="navbar-toggler animate" ng-click="sibarOpen = sibarOpen ? false : true">
			<span class="menu-icon"></span>
		</div>

		<ul class="navbar-menu animate">
			<li> <!-- CLIENTES -->
				<a ng-class="{'notAllowed' : !credentials.userLogged.admin}"
					href="/users" class="animate" ng-click="closeMenu()">
					<span class="desc animate"> Clientes</span>
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
			<li> <!-- PRODUCTOS -->
				<a ng-class="{'notAllowed' : !credentials.userLogged.admin}"
					href="/products" class="animate" ng-click="closeMenu()">
					<span class="desc animate"> Productos</span>
					<span class="glyphicon glyphicon-qrcode"></span>
				</a>
			</li>
			<li> <!-- ASIGNAR -->
				<a ng-class="{'notAllowed' : !credentials.userLogged.admin}"
					href="/assign" class="animate" ng-click="closeMenu()">
					<span class="desc animate"> Asignar productos</span>
					<span class="glyphicon glyphicon-tags"></span>
				</a>
			</li>
			<li> <!-- INFORMES -->
				<a ng-class="{'notAllowed' : !credentials.userLogged.admin}"
					href="/reports" class="animate" ng-click="closeMenu()">
					<span class="desc animate"> Informe</span>
					<span class="glyphicon glyphicon-print"></span>
				</a>
			</li>
			<li> <!-- CAMBIAR CONTRASEÑA -->
				<a href="/password" class="animate" ng-click="closeMenu()">
					<span class="desc animate"> Cambiar contraseña</span>
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
			<li> <!-- INFO -->
				<a href="#" class="animate" ng-click="closeMenu()" data-toggle="modal" data-target="#infoModal">
					<span class="desc animate">{{credentials.userLogged.admin ? currentClient.name : credentials.supplier.name}}</span>
					<!-- <span class="desc animate">{{showInfo.name}}</span> -->

					<span class="glyphicon glyphicon-info-sign"></span>
				</a>
			</li>
			<li> <!-- REGRESAR -->
				<a 	href="/main" class="animate" ng-click="closeMenu()">
					<span class="desc animate"> Regresar</span>
					<span class="glyphicon glyphicon-arrow-left"></span>
				</a>
			</li>
		</ul>
	</nav>

	<!-- INFO MODAL -->
	<div class="modal fade" id="infoModal" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="dialogo modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{credentials.userLogged.admin ? currentClient.name : credentials.supplier.name}}</h4>
				</div>
				<div class="modal-body">
					<p>{{credentials.userLogged.admin ? currentClient.contact : credentials.supplier.contact}}<p>
					<p>{{credentials.userLogged.admin ? currentClient.email : credentials.supplier.email}}<p>
					<p>{{credentials.userLogged.admin ? currentClient.phones : credentials.supplier.phones}}<p>
					<p>{{credentials.userLogged.admin ? currentClient.address : credentials.supplier.address}}<p>
				</div>
				<div class="modal-footer">
					<button  type="button" class="btn btn-default btn-sm" data-dismiss="modal">
						<span class="glyphicon glyphicon-log-out"></span> Salir
					</button>
				</div>
			</div>
		</div>
	</div>



</div>
