<div id="sidebar">
	<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation"
			ng-class="{'open' : sibarOpen}">
		<div class="navbar-toggler animate" ng-click="sibarOpen = sibarOpen ? false : true">
			<span class="menu-icon"></span>
		</div>
		<ul class="navbar-menu animate">
			<li>
				<a ng-class="{'notAllowed' : !credentials.admin, 'active' : $parent.modes == 'users'}"
					href="#" class="animate"
					
					ng-click="$parent.modes = $parent.modes != 'users' ? 'users' : 'main'">
					
					<span class="desc animate"> Usuarios </span>
					<span class="glyphicon glyphicon-user"></span>
				</a>
			</li>
			<li>
				<a ng-class="{'notAllowed' : !credentials.admin, 'active' : $parent.modes == 'products'}"
					href="/products" class="animate">
					<span class="desc animate"> Productos </span>
					<span class="glyphicon glyphicon-list-alt"></span>
				</a>
			</li>
			<li>
				<a href="/template" class="animate">
					<span class="desc animate"> Cambiar contraseña </span>
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
			<li>
				<a href="#" class="animate">
					<span class="desc animate">{{credentials.admin ? current.user.name : current.supplier.name}}</span>
					<span class="glyphicon glyphicon-info-sign"></span>
				</a>
			</li>
			<li>
				<a 	href="/main" class="animate">
					<span class="desc animate"> Regresar </span>
					<span class="glyphicon glyphicon-arrow-left"></span>
				</a>
			</li>
		</ul>
	</nav>
<!-- <h1 style="color: black">side : {{$parent.modes}}</h1> -->
</div>