<headertag></headertag>

 <br><br><br>
 <div id="main">
	<div class="containerX">
		<div class="row controls">
			 <!-- CLIENT/SUPPLIER INFO -->
			<div class="userInfo col-xs-6 col-md-3">
				<!-- <h4 ng-hide="credentials.admin">{{ credentials.supplier.name }}</h4> -->
				<!-- <h4 ng-show="credentials.admin">{{ selectedClientModel.name }}</h4> -->
				<div class="logo">
					 <img data-ng-src="data:image/png;base64,{{currentLogo}}" />
				</div>
			</div>

			 <!-- ORDER BUTTON -->
			<div class="demandButton col-xs-6 col-md-3 col-md-push-6">
				<button ng-click="demandButton()" class="btn btn-default btn-block">
					<strong>{{ demandLeyend }}</strong><br>
					{{ demandState > 0 ? demandDay : '' }}<br>
					{{ demandState > 0 ? demandDate : '' }}<br>
					{{ demandState > 0 ? demandHour : '' }}<br>
				</button>
			</div>

			 <!-- CLIENTS SELECT -->
			<div ng-show="credentials.admin" class="clientsSelect col-xs-12 col-md-6 col-md-pull-3">
				<!-- <form ng-show="credentials.admin"> -->
					<form class="form-group">
						<label for="selectClients">Mis clientes</label>
						<select id="selectClients" ng-change="clientChanged()" ng-model="selectedClientModel" ng-options="item.name for item in clients track by item._id"></select>
					</form>
				<!-- </form> -->
			</div>

		</div> <!-- @end div.controls row -->

			 <!-- CLIENTS PRODUCTS -->
		<uib-tabset type="pills" active="activeTabIndex">
			<uib-tab active="activeTabIndex==$index" index="$index" ng-repeat="tab in products | unique : 'category' | orderBy : 'category'">
				<uib-tab-heading>{{tab.category}}</uib-tab-heading>
					<div class="product" ng-click="productClicked($event, item)" ng-class="{'outOfStock':!item.stock, 'productOrdered':item.productOrdered}" ng-value="item._id" ng-repeat="item in products | uniqueCategory : tab.category | orderBy : 'product'">
						<span>{{item.product}}</span>
						<button type="button" class="btn btn-info btn-md quantity" data-toggle="modal" data-target="#myModal" ng-click="quantityClicked($event, item)">{{ item.quantity }}</button>
					</div>
			</uib-tab>
		</uib-tabset>

		<div ng-include="'views/main/modal.html'"></div>

	</div>
</div> <!-- @end #main -->
