<div id="main">
	<div class="container">

		<h2 ng-hide="credentials.admin">Proveedor: {{ credentials.supplier.name }}</h2>
		<h2 ng-show="credentials.admin">Cliente: {{ selectedClientModel.name }}</h2>

<!-- <form ng-show="credentials.admin">
	<div class="form-group">
		<select class="selectpicker" data-live-search="true">
			<option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
			<option data-tokens="mustard">Burger, Shake and a Smile</option>
			<option data-tokens="frosting">Sugar, Spice and all things nice</option>
			<option data-tokens="Bebidas">Bebidas</option>
		</select>
	</div>
</form>
 -->

 		<form ng-show="credentials.admin">
			<div class="form-group">
				<label for="selectClients">Mis clientes</label>
				<select id="selectClients" ng-change="clientChanged(selectedClientModel)" ng-model="selectedClientModel" ng-options="item.name for item in clients"></select>
			</div>
		</form>


		  <!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li ng-repeat="( key, value ) in products | uniqueCategory:'category'" ng-class="{'active':$first}" role="presentation"><a href="#{{ value.category }}" aria-controls="{{ value.category }}" role="tab" data-toggle="tab">{{ value.category }}</a></li>
		</ul>

		<button ng-click="buttonClicked()" class="btn btn-danger btn-md">GO!!!</button>
		  <!-- Tab panes -->
		<div class="tab-content">
			<div ng-repeat="( key1, value_1 ) in products | uniqueCategory:'category'" ng-class="{'active in':$first}" role="tabpanel" class="tab-pane fade" id="{{ value_1.category }}">

				<div ng-click="productClicked($event, value_2)" ng-value="value_2._id" ng-class="{'outOfStock':!value_2.stock, 'productOrdered':value_2.productOrdered}" ng-repeat="( key2, value_2 ) in products | filter : value_1.category | orderBy : 'product'" class="product">

					<div>{{ value_2.product }}</div>
					<!-- <div data-toggle="modal" data-target="#myModal" ng-click="quantityClicked($event, value_2)" class="quantity">{{ value_2.quantity }}</div> -->
					<button type="button" class="btn btn-info btn-md quantity" data-toggle="modal" data-target="#myModal" ng-click="quantityClicked($event, value_2)">{{ value_2.quantity }}</button>

				</div>
			</div>
<!-- <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Abrir Modal</button> -->

		</div>

		<div ng-include="'views/main/modal.html'"></div>

	</div>
</div> <!-- @end #main -->
