<div ng-controller="productsCtrl">

<!--PRODUCTS TABS-->
	<div class="tabsdemoDynamicTabs">
		<md-content class="md-padding">
			<md-tabs md-dynamic-height md-selected="$parent.selectedIndex" md-border-bottom md-autoselect>
				<md-tab ng-repeat="tab in products | unique:'category' | orderBy : 'category' track by tab._id"
								ng-disabled="tab.disabled"
								label="{{ tab.category }}">

					<div ng-click="productClicked($event, value2)"
					ng-repeat="( key2, value2 ) in products | uniqueCategory : tab.category | orderBy : 'product' track by value2._id"
					ng-class="{'outOfStock':!value2.stock, 'productOrdered':value2.productOrdered}"
					class="product">
						<div ng-bind="value2.product"></div>
						<!-- <div>{{ value2.product }}</div> -->
						<button type="button" class="btn btn-info btn-md quantity" ng-click="quantityClicked($event, value2)"> 
							{{ value2.quantity }}
						</button>

					</div>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>

<!--BOOTSTRAP MODAL-->
	<div class="modal fade" id="quantityModal" role="dialog">
		<div class="modal-dialog modal-sm">
					<!-- Modal content-->
					<div class="dialogo modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Cambiar cantidad</h4>
							<h3 class="modal-title"><strong>{{ product.product }}</strong></h3>
						</div>
						<div class="modal-body">
								<button ng-click="decrementButton()" class="changeQantity btn btn-danger" type="button">-</button>
								<span class="changeQantity">{{ product.quantity }}</span>
								<button ng-click="incrementButton()" class="changeQantity btn btn-success" type="button">+</button>
						</div>
						<!-- <div class="modal-footer"></div> -->
			</div>
		</div>
	</div>


</div>