<div id="login" class="container">
	<div class="card card-container">
		<div class="logo">
			<p><span>SiPEDi &copy</span></p>
			<p>Sistema de Pedido a<br>Empresas de Distribución</p>
		</div>
		<img id="profile-img" class="profile-img-card" src="img/sipedi_logo.png" />
		<form ng-submit="ctrl.loginButton()">

			<!-- ALERT MESSAGES -->
			<alert-message code="ctrl.codeAlert"></alert-message>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<i class="glyphicon glyphicon-envelope"></i>
					</div>
					<input type="email" ng-model="ctrl.loginData.email" class="form-control" placeholder="Email" required autofocus>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">
						<i class="glyphicon glyphicon-lock"></i>
					</div>
					<input type="password" ng-model="ctrl.loginData.password" class="form-control" placeholder="Contraseña" required autocomplete="off">
				</div>
			</div>

			<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="ctrl.loginData.rememberMe"> Recordarme
							</label>
						</div>
			</div>
			<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
			</div>
		</form>

		<!-- FORGOT PASSWORD -->
		<a href="#" class="forgot-password" title="Enviar mi contraseña a mi correo."
			data-toggle="modal" data-target="#forgotPassword">
			¿Olvidó su contraseña?
		</a>
	</div><!-- @card-container -->

	<!-- FORGOT PASSWORD MODAL****************************************************************************-->
	<div ng-include="'views/login/forgot.view.html'"></div>
	<!-- *************************************************************************************************-->

</div><!-- /container -->
