<div id="login" class="container">
	<div class="card card-container">

		<div class="logo">
			<p><span>SiPEDi &copy</span></p>
			<p>Sistema de Pedido a<br>Empresas de Distribución</p>
		</div>

		<img id="profile-img" class="profile-img-card" src="img/sipedi_logo.png" />
		<p id="profile-name" class="profile-name-card"></p>

		<form class="form-signin" ng-submit="ctrl.loginButton()">
			<span id="reauth-email" class="reauth-email"></span>

<div id="loginError" class="alert alert-danger hide" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  Email o contraseña inválida
</div>
			<input type="email" ng-model="ctrl.credentials.email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
			<input type="password" ng-model="ctrl.credentials.password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
			<div id="remember" class="checkbox">
				<label>
					<input type="checkbox" value="remember-me" ng-model="remember"> Recordarme
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
		</form><!-- /form -->
		<a href="#" class="forgot-password">
			¿Olvidó su contraseña?
		</a><br>
	</div><!-- /card-container -->
</div><!-- /container -->
