<div ng-show="modes == 'users'" ng-cloak>

<div style="color: gray;">
	<h2>$scope.modes = {{ modes }}</h2>
<p>
	<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nulla doloribus, ex voluptatem reiciendis eligendi pariatur quaerat unde delectus totam cumque fugit nam corporis, minus quae illo itaque ad! Perferendis!</span>
	<span>Sint consequatur expedita iusto dolorem eligendi molestias fugit quas id atque, earum dignissimos voluptates eaque animi nostrum adipisci odio vitae eius? Sapiente placeat id explicabo, nihil ut iste enim odio.</span>
	<span>Beatae a nobis voluptas suscipit animi pariatur. Cupiditate non, autem quod debitis ab dicta eveniet, illum iure accusamus corporis nam mollitia animi earum id assumenda sapiente nulla velit quibusdam quae!</span>
	<span>Odit totam quis ut praesentium rem dolores sapiente optio sequi excepturi ratione voluptate enim, quasi incidunt quas eum corrupti blanditiis unde, illo, accusamus aspernatur eveniet explicabo maxime ipsam repellendus. Temporibus.</span>
	<span>Quaerat optio deserunt ut a consequuntur odio! Ut autem ipsum vel natus reiciendis rem doloribus sed alias reprehenderit, esse eligendi, totam ea hic nostrum. Modi neque libero illum distinctio dignissimos!</span>
	<span>Fuga minima, sunt qui quos fugit autem voluptatum doloribus sed sit itaque accusamus incidunt fugiat neque blanditiis omnis soluta facere tempore repudiandae. Vel culpa doloribus perspiciatis consequuntur, ipsa esse voluptatem.</span>
</p>
</div>
</div>