<div id="usersAdmin" ng-cloak>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Administrador de Clientes</h3>
		</div>

		<div class="panel-body">

			<div class="row">
				<!-- CLIENTS SELECT -->
				<div class="col-xs-7 col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8 col-lg-offset-2 col-lg-7">
					<div class="clientsSelect">
						<form class="form-group">
							<label for="selectClients">Mis clientes</label>
							<select class="form-control input-lg" id="selectClients" ng-model="currentClient"
							ng-disabled="!userForm.$pristine || logoAdminOpened"
							title="{{!userForm.$pristine || logoAdminOpened ? 'Primero debe guardar o deshacer los cambios realizados.' : 'Seleccionar otro cliente.'}}"
							ng-options="user as user.name for user in clients | orderBy : 'name'"> <!-- track by user._id NOT ALLOW WORKING WITH INPUTS -->
							</select>
						</form>
					</div>
				</div>
				<!-- LOGO -->
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-5">
					<div class="logo">
						 <img class="mainImg" ng-show="credentials.userLogged.admin" ng-click="openLogoAdmin()" title="Cambiar logo"
							ng-src="{{ currentClient.logo || sipediLogo }}" />
					</div>
				</div>
			</div> <!-- @row -->

			<!-- LOGO ADMIN -->
			<div class="row">
				<div class="col-sm-offset-3 col-sm-7 col-md-offset-3 col-md-6">
					<div class="collapse logoAdmin well">
						<div class="logo">
							<button type="button" class="close" ng-click="closeLogoAdmin()"><span aria-hidden="true">&times;</span></button>
							<img ng-src="{{logoTempSRC || sipediLogo}}" id="imgLogoAdmin">
							<!-- width="140" height="90" -->
						</div>
						<label class="btn btn-warning btn-file btn-sm logoAdminButtons">
							<span class="glyphicon glyphicon-option-horizontal"></span> Seleccionar archivo
							<input type="file" style="display: none;" id="imageInput" type="file" accept="image/*">
						</label>

						<button ng-click="setNewLogo()" type="button" class="btn btn-primary btn-sm logoAdminButtons">
								<span class="glyphicon glyphicon-ok"></span> Aceptar
						</button>
						<button  type="button" class="btn btn-default btn-sm logoAdminButtons" ng-click="closeLogoAdmin()">
								<span class="glyphicon glyphicon-log-out"></span> Cancelar
						</button>
					</div>
				</div>
			</div>

			<!-- ALERT MESSAGES -->
			<alert-message code="codeAlert"></alert-message>

			<!-- FORM -->
			<div class="row">
				<div class="well col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-2">
					<form novalidate name="userForm" id="userForm">
						<!-- NAME -->
						<div class="form-group"	ng-class="{'has-error':!userForm.name.$pristine && userForm.name.$invalid}">
							<label for="name">Nombre</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-tower"></i>
								</div>
								<input ng-model="currentClient.name" class="form-control input-md" type="text"
										maxlength="50" required name="name" id="name" autofocus />
								<span ng-if="!userForm.name.$pristine && userForm.name.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
							<span ng-if="!userForm.name.$pristine && userForm.name.$invalid" class="help-block">Debe proporcionar un nombre.</span>
						</div>
						<!-- EMAIL -->
						<div class="form-group"	ng-class="{'has-error':userForm.email.$invalid}">
							<label for="email">Email</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-envelope"></i>
								</div>
								<input ng-model="currentClient.email" class="form-control input-md" type="email"
										maxlength="50" required name="email" id="email" />
								<span ng-if="!userForm.email.$pristine && userForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
							<span ng-if="!userForm.email.$pristine && userForm.email.$invalid" class="help-block">Debe proporcionar un email válido.</span>
						</div>
						<!-- CONTACT -->
						<div class="form-group">
							<label for="contact">Contacto</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input ng-model="currentClient.contact" class="form-control input-md" type="text"
										maxlength="50" name="contact" id="contact" placeholder="Persona de contacto" />
							</div>
						</div>
						<!-- ADDRESS -->
						<div class="form-group">
							<label for="address">Dirección</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-map-marker"></i>
								</div>
								<input ng-model="currentClient.address" class="form-control input-md" type="text"
										maxlength="80" name="address" id="address" placeholder="Dirección" />
							</div>
						</div>
						<!-- PHONES -->
						<div class="form-group">
							<label for="phones">Teléfonos</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-phone-alt"></i>
								</div>
								<input ng-model="currentClient.phone" class="form-control input-md" type="text"
										maxlength="80" name="phones" id="phones" placeholder="Teléfonos" />
							</div>
						</div>
						<!-- NOTES -->
						<div class="form-group">
							<label for="notes">Notas</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-book"></i>
								</div>
								<textarea ng-model="currentClient.notes" class="form-control" cols="30" rows="5"
										maxlength="400" name="notes" id="notes" placeholder="Notas varias"></textarea>
							</div>
						</div>

					</form>
				</div> <!-- @well -->
			</div><!-- @row -->
		</div> <!-- @panel body -->

		<div class="modal-footer">
			<div class="row">
				<div class="footerButtons col-sm-offset-3 col-sm-9">

					<button ng-class="{'btn-primary': (!userForm.$invalid && !userForm.$pristine), 'btn-default': (userForm.$invalid || userForm.$pristine)}"
							ng-click="saveChanges(false)" ng-disabled="userForm.$invalid || userForm.$pristine || !clients.length"
							class="btn btn-md" title="Guardar los cambios pendientes"
							id="saveButton" data-loading-text="Guardando..." autocomplete="off">
							<span class="glyphicon glyphicon-save"></span> Guardar</button>

					<button ng-class="{'btn-default': !userForm.$pristine, 'btn-default': userForm.$pristine}"
							ng-click="undoChanges()" ng-disabled="userForm.$pristine || !clients.length"
							class="btn btn-md" title="Deshacer los cambios hechos">Deshacer cambios</button>

					<button ng-class="{'btn-success': !userForm.$invalid, 'btn-default': userForm.$invalid }"
							class="btn btn-md" ng-disabled="userForm.$invalid || !clients.length" title="Genera una contraseña y la envía al cliente."
							data-toggle="modal" data-target="#generatePassWarning">
							<span class="glyphicon glyphicon-lock"></span> Generar contraseña
					</button>
				</div>
			</div>
		</div>
	</div> <!-- @panel primary -->

	<!-- GENERATE PASSWORD WARNING MODAL -->
	<div class="modal fade" id="generatePassWarning" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="dialogo modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">ATENCIÓN</h3>
				</div>
				<div class="modal-body">
					<p>Se generará una contraseña nueva y se enviará información de acceso al correo: <pre>{{currentClient.email}}</pre></p>
				</div>
				<div class="modal-footer">
					<button ng-click="saveChanges(true)" data-dismiss="modal" type="button" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-ok"></span> Aceptar
					</button>
					<button  type="button" class="btn btn-default btn-sm" data-dismiss="modal">
						<span class="glyphicon glyphicon-log-out"></span> Cancelar
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
