<!-- data-keyboard="false" data-backdrop="static" -->
<div ng-controller="modifyProductsCtrl" class="modal fade" id="modifyProductModal" role="dialog"> 
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button"
				 class="close"><span aria-hidden="true" data-dismiss="modal">&times;</span></button>
				<h4>Modificar producto</h4>
			</div>

			<div class="modal-body">
				<form name="modiProductForm" id="modiProductForm">

					<div class="row">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
							<div class="form-group">
								<label for="categories">Categoría</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-folder-open"></i>
									</div>
									<select class="form-control input-lg" id="categories"
									ng-model="product.category"
									ng-options="cate for cate in categories | orderBy : ASC">
										<option ng-show="$parent.productsSelected" value="">Seleccionar categoría</option>
									</select>

								</div>
							</div>
						</div>
					</div>


			 <!-- PRODUCTS DATAGRIDVIEW -->
			<dgw-products 
				ng-show="$parent.productsSelected" products="products" mofifygroup="true">
			</dgw-products>

					<div ng-hide="$parent.productsSelected" class="form-group"
							ng-class="{'has-error':modiProductForm.productName.$invalid && modiProductForm.productName.$dirty}">
						<label for="productName">Producto</label>
							<div class="input-group">
								<div class="input-group-addon">
									<input type="checkbox" ng-model="product.stock">
								</div>
								<input ng-model="product.product" ng-class="{'outOfStock': !product.stock }" class="form-control input-lg" type="text"
									value="{{ product.product }}" maxlength="50" ng-required="true" name="productName" id="productName">
								<span ng-if="modiProductForm.productName.$invalid && modiProductForm.productName.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
							<span ng-if="modiProductForm.productName.$invalid && modiProductForm.productName.$dirty" class="help-block">La descripción no puede estar vacía.</span>
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<button ng-class="{'btn-primary': ($parent.productsSelected == 0 && product.product.length > 0) ||
									($parent.productsSelected > 0 && product.category),
									'btn-default': ($parent.productsSelected == 0 && product.product.length == 0) ||
									($parent.productsSelected > 0 && !product.category)}"

						ng-disabled="($parent.productsSelected == 0 && !product.product.length) ||
									($parent.productsSelected > 0 && !product.category)"

								ng-click="modiProductOK()" type="button"
								href="#" class="btn btn-lg" data-dismiss="modal">
						<span class="glyphicon glyphicon-ok"></span> Aceptar
				</button>
			</div>
		</div>
	</div>
</div>

