<div id="productsAdmin" ng-cloak>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Administrador de Productos</h3>
		</div>

		<div class="panel-body">
			 <!-- CATEGORIES FILTER SELECT -->
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="categories">Filtrar por categoría</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="glyphicon glyphicon-folder-open"></i>
							</div>
							<select class="form-control input-lg"
							ng-model="selectedCategory"
							ng-options="cate for cate in categories | orderBy : ASC">
							</select>
						</div>
					</div>
				</div>
				 <!-- TEXT FILTER INPUT -->
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="userFilter">Filtrar por texto</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="glyphicon glyphicon-search"></i>
							</div>
							<input ng-model="userFilter" id="userFilter" class="form-control input-lg" type="text" placeholder="Texto a filtrar">
						</div>
					</div>
				</div>
			</div>

			 <!-- PRODUCTS DATAGRIDVIEW -->
			<div class="well productsDGV col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="form-group"
					ng-repeat="(key, produ) in products | filter : selectedCategory | filter : {product : userFilter} track by produ._id"
					ng-hide="produ.action == 'deleted'">
					<div class="product row">
						<div class="col-xs-10" ng-click="stockChange(produ)">
							<div class="input-group">
								<div class="input-group-addon">
									<input type="checkbox" ng-model="produ.stock" ng-change="stockChange(produ)">
								</div>
								<input ng-class="{'outOfStock': !produ.stock }" class="form-control input-md" type="text" value="{{ produ.product }}" readonly title="{{ produ.product }}">
							</div>
						</div>
						<div class="tools col-xs-2">
							<i ng-click="editClicked($event, produ)" class="glyphicon glyphicon-pencil" title="Editar {{produ.product}}"></i>
							<i ng-click="trashClicked($event, produ)" class="glyphicon glyphicon-trash" title="Eliminar {{produ.product}}"></i>
						</div>
					</div>
				</div>
			</div>
<!-- ng-checked="produ.stock" -->
		</div> <!-- panel body -->
	</div> <!-- panel primary -->

	<button ng-class="{'btn-primary': pendingChanges, 'btn-default': !pendingChanges }"
			class="btn btn-lg" ng-disabled="!pendingChanges" title="Guardar los cambios pendientes">
			<span class="glyphicon glyphicon-save"></span> Guardar</button>
	<button ng-class="{'btn-warning': pendingChanges, 'btn-default': !pendingChanges }"
			class="btn btn-md" ng-disabled="!pendingChanges"
			title="Deshacer los cambios pendientes" ng-click="undoChanges()">Deshacer cambios</button>

<!-- <button class="btn btn-dange btn-lg" ng-click="fn1()">$scope.pendingChanges</button> -->
<!-- <button class="btn btn-dange btn-lg" ng-click="fn2()">Remove</button> -->

		<!-- MODIFY MODAL****************************************************************************-->
		<div ng-include="'views/products/modifyProducts.view.html'"></div>
		<!-- ****************************************************************************************-->
</div>


<!-- ################################################################################################################## -->
<!-- ################################################################################################################## -->
<!-- ################################################################################################################## -->

