<div id="productsAdmin" ng-cloak>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Administrador de Productos</h3>
		</div>

		<div class="panel-body">
			 <!-- CATEGORIES FILTER SELECT -->
			<div class="row">
				<div class="col-xs-12 col-sm-7">
					<div class="form-group">
						<label for="categoriesSelect">Filtrar por categoría</label>
						<div class="input-group">
							<div class="input-group-addon">
								<button ng-init="disablefilter = false" ng-class="{'btn-success' : !disablefilter}"
										class="btn btn-sm" ng-click="disablefilter = !disablefilter"
										title="{{disablefilter ? 'Activar' : 'Desactivar'}} filtro">
										<i class="glyphicon glyphicon-folder-open"></i>
								</button>
							</div>
							<select class="form-control input-lg"
							ng-model="selectedCategory" ng-disabled="disablefilter" ng-class="{'filterDisabled' : disablefilter}"
							ng-options="cate for cate in categories | orderBy : ASC track by cate"
							title="{{disablefilter ? 'Filtro desactivado' : ''}}" id="categoriesSelect">
							</select>
							<div class="input-group-addon">
								<button class="btn btn-info btn-sm" title="Nueva categoría"
										ng-click="addCategory()" ng-disabled="disablefilter">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
								<button class="btn btn-warning btn-sm" title="Editar categoría"
										ng-click="editCategory()" ng-disabled="(!categories.length) || (disablefilter)">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
								<button class="btn btn-danger btn-sm" title="Eliminar categoría"
										ng-click="removeCategory()" ng-disabled="(!categories.length) || (disablefilter)">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				 <!-- TEXT FILTER INPUT -->
				<div class="col-xs-12 col-sm-5">
					<div class="form-group">
						<label for="userFilter">Filtrar por texto</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="glyphicon glyphicon-search"></i>
							</div>
							<input ng-init="userFilter=''" ng-model="userFilter" id="userFilter" class="form-control input-lg" type="text" placeholder="Texto a filtrar">
						</div>
					</div>
				</div>
			</div>

			<!-- CATEGORIES ADMIN -->
			<div class="row">
				<div class="col-sm-offset-2 col-sm-8">
					<div class="collapse categoriesAdmin">
						<div style="text-align: center; font-size: 17px;" class="alert alert-info alert-dismissible" role="alert">
							<button type="button" class="close" ng-click="closeCategoriesAdmin()"><span aria-hidden="true">&times;</span></button>

							<!-- TEXT CATEGORY INPUT -->
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<div class="form-group">
										<label for="textCategory">{{modeCategory == 'addNew' ? 'Nueva categoría' : 'Editar categoría'}}</label>
										<div class="form-group">
											<input ng-model="category" id="textCategory" class="form-control input-md"
												type="text" maxlength="30" placeholder="Introduzca un nombre"
												ng-keyup="$event.keyCode == 13 && category.length && add_editCategory()">
										</div>
									</div>
								</div>
							</div>
							<button ng-class="{'btn-primary': (category.length),
									'btn-default': (!category.length)}"
									ng-disabled="(!category.length)"
									ng-click="add_editCategory()" type="button" class="btn btn-sm">
									<span ng-show="modeCategory == 'addNew'" class="glyphicon glyphicon-plus"></span>
									<span ng-hide="modeCategory == 'addNew'" class="glyphicon glyphicon-ok"></span>
									 {{modeCategory == 'addNew' ? 'Agregar' : 'Aceptar'}}
							</button>
							<button  type="button" class="btn btn-default btn-sm" ng-click="closeCategoriesAdmin()">
									<span class="glyphicon glyphicon-log-out"></span> Salir
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div id="middleControls" class="col-sm-offset-1 col-sm-10">
					<!-- ADD NEW PRODUCT BUTTON -->
					<div>
						<button ng-click="newProductClicked()" ng-disabled="(!categories.length)"
								class="btn-info btn btn-md" title="Crear un producto nuevo">
								<span class="glyphicon glyphicon-plus"></span> Nuevo producto</button>
					</div>

				<!-- SELECT ALL BUTTONS -->
					<div class="divSelectAllButtons">
						<button class="btn btn-md" type="button" title="Seleccionar todo" ng-click="selectAll()">
								<i class="glyphicon glyphicon-ok-sign"></i></button>
						<button class="btn btn-md" type="button" title="Deseleccionar todo" ng-click="deselectAll()">
								<i class="glyphicon glyphicon-remove-sign"></i></button>
					</div>
				</div>
			</div>

			<!-- ALERT MESSAGES -->
			<alert-message code="codeAlert"></alert-message>

			<!-- PRODUCTS DATAGRIDVIEW -->
			<div class="row">
				<dgw-products products="products" selectedcategory="{{selectedCategory}}" userfilter="{{userFilter}}"
								productsselected="{{productsSelected}}" editone="editOne(produ)"
								disablefilter="disablefilter">
				</dgw-products>
			</div>

		</div> <!-- panel body -->

			<div class="modal-footer">

				<div class="row footerButtons">
					<div class="col-xs-12 col-sm-6">

						<button ng-class="{'btn-primary': pendingChanges, 'btn-default': !pendingChanges }"
								class="btn btn-md" ng-disabled="!pendingChanges" title="Guardar los cambios pendientes"
								ng-click="saveChanges()" id="saveButton" data-loading-text="Guardando..." autocomplete="off">
								<span class="glyphicon glyphicon-save"></span> Guardar</button>

						<button ng-class="{'btn-default': pendingChanges, 'btn-default': !pendingChanges }"
								class="btn btn-md" ng-disabled="!pendingChanges"
								title="Deshacer los cambios hechos" ng-click="undoChanges()">Deshacer cambios</button>
					</div>
					<div class="col-xs-12 col-sm-6">
						<button ng-class="{'btn-warning': productsSelected, 'btn-default': !productsSelected }"
								class="btn btn-md" ng-disabled="!productsSelected" title="Editar seleccionados"
								ng-click="editGroup()">
								<span class="glyphicon glyphicon-pencil"></span> Editar ({{productsSelected}})</button>
						<button ng-class="{'btn-danger': productsSelected, 'btn-default': !productsSelected }"
								class="btn btn-md" ng-disabled="!productsSelected" title="Eliminar seleccionados"
								ng-click="removeSelected()">
								<span class="glyphicon glyphicon-trash"></span> Eliminar ({{productsSelected}})</button>
					</div>
				</div>

			</div>

	</div> <!-- panel primary -->

		<!-- MODIFY MODAL****************************************************************************-->
		<div ng-include="'views/products/modifyProducts.view.html'"></div>
		<!-- ****************************************************************************************-->

</div>
